$orange: #c0761d;
.deviceList{
  background: #000;
  overflow: hidden;
  @import '../DeviceListTitle/style.scss';
  @import '../Device/style.scss';
  .dragTextBox {
    position: absolute;
    box-sizing: border-box;
    display: none;
    background: #000;
    color: white;
    word-break: keep-all;
    z-index: 100000;
    overflow: hidden;
    &.show {
      display: block;
    }
    .dragText {
      padding: 0px 16px;
      border: 1px solid $orange;
    }
  }
}