.deviceList {
  background: #000;
  overflow: hidden;
}

.deviceList .deviceListTitle {
  overflow: hidden;
  cursor: pointer;
}

.deviceList .deviceListTitle .expand,
.deviceList .deviceListTitle .icon {
  width: 20px;
  height: 20px;
  float: left;
  background: url(../../img/DevicePanel/Tree.png) no-repeat;
}

.deviceList .deviceListTitle .expand {
  background-position: 0 0;
}

.deviceList .deviceListTitle .expand:hover {
  background-position: -20px 0;
}

.deviceList .deviceListTitle .expand.expanded {
  background-position: -40px 0;
}

.deviceList .deviceListTitle .expand.expanded:hover {
  background-position: -60px 0;
}

.deviceList .deviceListTitle .icon {
  background-position: 0px -20px;
}

.deviceList .deviceListTitle .info {
  float: left;
  border: 1px solid transparent;
  margin-left: 5px;
  min-width: 175px;
  color: white;
  line-height: 20px;
}

.deviceList .deviceListTitle .info:hover {
  border: 1px solid #c0761d;
  background: url(../../img/bg/background-hover.png);
}

.deviceList .deviceListTitle .info.selected {
  background: url(../../img/bg/background-selected.png);
  border: 1px solid #c0761d;
}

.deviceList .devices.expanded {
  display: block;
}

.deviceList .devices .device {
  overflow: hidden;
  height: 22px;
  cursor: default;
}

.deviceList .devices .device .icon {
  width: 20px;
  height: 20px;
  float: left;
  background: url(../../img/DevicePanel/Device-ACTi.png);
  margin-left: 40px;
}

.deviceList .devices .device .icon.A1 {
  background-position: 0px 0;
}

.deviceList .devices .device .icon.A2 {
  background-position: -20px 0;
}

.deviceList .devices .device .icon.B1 {
  background-position: 0px -40px;
}

.deviceList .devices .device .icon.B2 {
  background-position: -20px -40px;
}

.deviceList .devices .device .icon.B5 {
  background-position: -80px -40px;
}

.deviceList .devices .device .icon.C1 {
  background-position: 0px -80px;
}

.deviceList .devices .device .icon.D1 {
  background-position: 0px -120px;
}

.deviceList .devices .device .icon.E1 {
  background-position: 0px -160px;
}

.deviceList .devices .device .icon.E2 {
  background-position: -20px -160px;
}

.deviceList .devices .device .icon.F1 {
  background-position: 0px -200px;
}

.deviceList .devices .device .info {
  min-width: 155px;
  height: 20px;
  float: left;
  border: 1px solid transparent;
  cursor: pointer;
  color: white;
  line-height: 20px;
  margin-left: 5px;
}

.deviceList .devices .device .info:hover {
  border: 1px solid #c0761d;
  background: url(../../img/bg/background-hover.png);
}

.deviceList .devices .device .info.selected {
  background: url(../../img/bg/background-selected.png);
  border: 1px solid #c0761d;
}

.deviceList .dragTextBox {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  background: #000;
  color: white;
  word-break: keep-all;
  z-index: 100000;
  overflow: hidden;
}

.deviceList .dragTextBox.show {
  display: block;
}

.deviceList .dragTextBox .dragText {
  padding: 0px 16px;
  border: 1px solid #c0761d;
}
