.todo {
  border-bottom: 1px solid #ccc;
}

.todo span,
.todo button {
  display: inline-block;
}

.todo input[type="checkbox"],
.todo label {
  cursor: pointer;
}

.todo > input {
  vertical-align: middle;
}

.todo .closeBtn {
  padding: 0 0.5rem;
}

.todo span {
  width: 350px;
  line-height: 1.5rem;
  vertical-align: middle;
  display: inline-block;
}

.todo.done span {
  text-decoration: line-through;
}

.todo:last-child {
  border-bottom: 0px solid #ccc;
}
