$orange: #c0761d; 
.deviceListTitle {
    overflow: hidden;
    cursor: pointer;
    .expand,
    .icon {
      width: 20px;
      height: 20px;
      float: left;
      background: url(../../img/DevicePanel/Tree.png) no-repeat;
    }
    .expand {
      background-position: 0 0;
      &:hover {
        background-position: -20px 0;
      }
      &.expanded {
        background-position: -40px 0;
        &:hover {
          background-position: -60px 0;
        }
      }
    }
    .icon {
      background-position: 0px -20px;
    }
    .info {
      float: left;
      border: 1px solid transparent;
      margin-left: 5px;
      min-width: 175px;
      color: white;
      line-height: 20px;

      &:hover {
        border: 1px solid $orange;
        background: url(../../img/bg/background-hover.png);
      }
      &.selected {
        background: url(../../img/bg/background-selected.png);
        border: 1px solid $orange;
      }
    }
  }